SESSION_SECRET="foobar"
PUBLIC_STORE_DOMAIN="zerogear.myshopify.com"
PUBLIC_STOREFRONT_API_TOKEN="72a0ab81f6f9af2f245d5d8eee022b21"
PRIVATE_STOREFRONT_API_TOKEN="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"
PUBLIC_CUSTOMER_ACCOUNT_API_CLIENT_ID="db0d7f47-9d6a-431e-b617-60aee13888f6"
PUBLIC_CUSTOMER_ACCOUNT_ID="db0d7f47-9d6a-431e-b617-60aee13888f6"
PUBLIC_CHECKOUT_DOMAIN="zerogear.myshopify.com"
PUBLIC_STOREFRONT_ID="18540669"
PUBLIC_CUSTOMER_ACCOUNT_API_URL="https://shopify.com/18540669"
PUBLIC_APP_URL="http://localhost:3000"
TUNNEL_DOMAIN="zero.tail2d1d49.ts.net"
PUBLIC_TUNNEL_DOMAIN="zero.tail2d1d49.ts.net"
SHOP_ID="18540669"
GENERATE_SOURCEMAP=false